@model IEnumerable<Auction.Web.Areas.Administrator.Models.ApproveOffersViewModel>

@{
    ViewBag.Title = "Approve Offers";
}

<div class="jumbotron">
    <h1>Approve Offers</h1>
</div>

@Html.DisplayForModel()
